
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(225, 225, 225, 0.3);
        backdrop-filter: blur(2px);
        z-index: 70;
    }



    .loader {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      
      .loader {
        width: 100px;
        height: 100px;
        margin: 0;
        background: transparent;
        border-top: 7px solid #081F4A;
        border-right: 7px solid transparent;
        border-radius: 50%;
        -webkit-animation: 1s spin linear infinite;
        animation: 1s spin linear infinite;
      }