
.root{
    height: 160px;
    width: 240px;
    left: 343px;
    top: 228px;
    border-radius: 4px;
    
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 160px;
    width: 240px;
    left: 343px;
    top: 228px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    // position: fixed;
    padding: 1rem;

}
.card > .allUsers{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}

div .img{
    left: 0px;
    top: 4.620849609375px;
    border-radius: 0px;

}

.text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #545F7D;

}

.amount{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: #213F7D;

}