
.view-container{
    box-sizing: border-box;

    width: 180px;
    height: 130px;
    left: 1211px;
    top: 622px;

    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.view-box{
    gap: 10px;
    width: inherit;
    align-items: baseline;
    margin: 1rem;
}
    

.icon > span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // gap: 2rem;
}

.text > span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;

    color: #545F7D;
}

.paper{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 3px;
}