span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    


    color: #213F7D;
}

.personalInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.personalInfo2{
    display: flex;
    flex-direction: row;
    gap: 9rem;
   
}

.personalInfo > div > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
   
    text-transform: uppercase;

    color: #545F7D;
}

.personalInfo > div > h6{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    
    
    color: #545F7D;
      
}

.personalInfo2 > div > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
   

    text-transform: uppercase;

    color: #545F7D;
}

.personalInfo2 > div > h6{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    
    
    color: #545F7D;
      
}