
.mainContainer{  
    width: 80%;
    margin-top: 5.7rem;
}

.wrapper > span{
    
    padding: 2rem;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #213F7D;
    

}

.box{
    display: flex;
    flex-direction: row;
    padding: 5rem;
    gap: 1rem;
    margin-left: -4rem;
    align-items: center;
    justify-content: space-between;
    width: 115%;
    @media screen and (max-width: 900px){
        display: flex;
        flex-direction: column;
        align-items: inherit;
}

}
.mainContainer > .wrapper{
    padding: 5rem;
}


.mainContainer > .wrapper > .table {

        margin-left:1rem;
        // width: 1037px;
        background: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        gap: 1rem;

     
  }

  .thead{
   
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        display:table-header-group;
        text-transform: uppercase;

    
}

.tableContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.table, .thead, .tbody, .th, .td, .tr, .tc { 
		display: block !important; 
	}

    .thead .tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    tr { border: 1px solid #ccc; }
    
    .tc { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

    .tc:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    td:nth-of-type(1):before { content: "ORGANIZATION"; padding: 1rem; }
	td:nth-of-type(2):before { content: "USERNAME"; padding: 1rem; }
	td:nth-of-type(3):before { content: "EMAIL"; padding: 1rem; }
	td:nth-of-type(4):before { content: "PHONE NUMBER";  padding: 1rem;}
	td:nth-of-type(5):before { content: "DATE JOINED";  padding: 1rem;}
	td:nth-of-type(6):before { content: "STATUS";  padding: 1rem;}
	
}